<!--

    Copyright 2014-2017 Rudy De Busscher (www.c4j.be)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.c4j.be/secure">
<h:head>
    <title>Octopus Async and manual demo</title>
    <meta http-equiv="content-type" content="text/xhtml; charset=UTF-8"/>
</h:head>

<h:body>
    <p:panel header="Welcome">
        This is the demo project for security context propagation to Asynchronous calls and manual authentication of system accounts.
    </p:panel>

    <p:messages autoUpdate="true"/>

    <h2>Test Asynchronous / System Account</h2>
    <h:form id="async">
        Async method response : #{pageBean.text} <br/>
        <p:commandButton value="async hello" update=":async" actionListener="#{pageBean.testAsync}"/>

        <br/>
        SystemAccount method response : #{pageBean.textSystem} <br/>
        <p:commandButton value="SystemAccount message" update=":async" actionListener="#{pageBean.testSystemAccount}"/>

        <br/>
        <h:panelGroup>
            <sec:requiresUser not="true"/>
            No user authenticated.
        </h:panelGroup>

        <h:panelGroup>
            <sec:requiresUser/>
            User #{loggedInUser} is logged in. <h:commandLink value="Logout" actionListener="#{loginBean.logout}"/>
        </h:panelGroup>
    </h:form>

    <h2>Login</h2>
    <h:form id="login">
        <h:panelGrid columns="2">
            <p:outputLabel for="username" value="Username:"/>
            <p:inputText id="username" value="#{loginBean.username}" required="true"/>

            <p:outputLabel for="password" value="Password:"/>
            <p:password id="password" value="#{loginBean.password}" required="true" feedback=""/>

            <p:outputLabel for="rememberMe" value="Remember Me:"/>
            <p:selectBooleanCheckbox id="rememberMe" value="#{loginBean.remember}"/>

            <h:panelGroup/>
            <p:commandButton value="Login" actionListener="#{loginBean.doLogin}" update="@all" process="@form"/>

        </h:panelGrid>
        <p:messages/>
    </h:form>
    For this starter, password is the same as username and any username will be accepted.

</h:body>
</html>